WHATSAPP_TOKEN=EAASgfI1hI8UBRCtXrW6RNhp1ZAYru6QgXNlTQbuuXkKIZBTqjZBRqgM5ZAetUs9CqMECoZAfoc4JYQZBQ5qCBJoKTZCluGa0RquqQG96O84JyDyebr4O5p29LDSBAG3B4iQqCcAo5rIPr6BtCYsvDGlZAihjexEeZCO7FMkNClgT91NQp7YW5hZC51nfW9la2xlGvoZC8RfQpp3oNJEz4bvYHevaURcXo4eltFGbnomB7ljUwQj7K2hNiCr3RTbdFVnT3f6YOjSWBiIQ1jXHhnZCMI4iQMS1
PHONE_NUMBER_ID=1123618957490945
VERIFY_TOKEN=SARE_BOT_2026
